{% extends "base_accounts.html" %}
{% load static %}

{% block content %}
<div class="wrapper">
    <!-- Login Page Start -->
    <div class="m-account-w" data-bg-img="{% static 'assets/img/account/wrapper-bg.jpg' %}">
        <div class="m-account">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <!-- Login Content Start -->
                    <div class="m-account--content-w" data-bg-img="{% static 'assets/img/account/content-bg.jpg' %}">
                        <div class="m-account--content">

                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Your username and password didn't match. Please try again.
                                </div>
                            {% endif %}

                            {% if next %}
                                {% if user.is_authenticated %}
                                    <div class="alert alert-primary" role="alert">
                                        Your account doesn't have access to this page. To proceed, please login with an account that has access.
                                    </div>
                                {% else %}
                                    <div class="alert alert-secondary" role="alert">
                                        Please login to see this page.
                                    </div>
                                {% endif %}
                            {% endif %}

                            <h2 class="h2">Ainda não tem uma conta? Registre-se.</h2>
                            <p>Após o cadastro, nossa equipe irá liberar seu acesso ao sistema.</p>
                            <a href="{% url 'signup' %}" class="btn btn-rounded">Register Now</a>
                        </div>
                    </div>
                    <!-- Login Content End -->
                </div>

                <div class="col-md-6">
                    <!-- Login Form Start -->
                    <div class="m-account--form-w">
                        <div class="m-account--form">
                            <!-- Logo Start -->
                            <div class="logo">
                                <img src="{% static 'assets/img/logo.png' %}" alt="">
                            </div>
                            <!-- Logo End -->

                            <form action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                                <label class="m-account--title">Login to your account</label>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <i class="fas fa-user"></i>
                                        </div>

                                        <input type="text" name="username" autofocus="" maxlength="254" placeholder="Username" class="form-control" autocomplete="off" required="" id="id_username">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <i class="fas fa-key"></i>
                                        </div>

                                        <input type="password" name="password" placeholder="Password" class="form-control" autocomplete="off" required="" id="id_password">
                                    </div>
                                </div>

                                <div class="m-account--actions">
                                    <a href="{% url 'password_reset' %}" class="btn-link">Forgot Password?</a>
                                    <input type="hidden" name="next" value="{{ next }}" />

                                    <button type="submit" value="login" class="btn btn-rounded btn-info" name="login">Login</button>
                                </div>

                                <div class="m-account--footer">
                                    <p>&copy; 2018 S.I.E.</p>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Login Form End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Login Page End -->
</div>
{% endblock %}
