{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard - S.I.E.{% endblock %}
{% block page-title %}Máquinas{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'product_list' %}">Máquinas</a></li>
{% endblock %}

{% block content %}
<!-- Main Content Start -->
<section class="main--content">

    <div class="panel">
        <!-- Records List Start -->
        <div class="records--list" data-title="Listando Máquinas">
            <table id="recordsListView" style="padding: 0px;">
                <thead>
                    <tr>
                        <th>Imagem</th>
                        <th>Código</th>
                        <th>Máquina</th>
                        <th>Tipo</th>
                        <th>Modelo</th>
                        <th class="not-sortable"> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                    <tr>
                        <td>
                            <a href="{% url 'product_update' pk=produto.pk %}" class="btn-link">
                                {% if produto.imagem %}
                                    <img src="{{ produto.imagem }}" alt="">
                                {% else %}
                                    <img src="{% static 'assets/img/avatars/01_150x150.png' %}" alt="" class="rounded-circle">
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            {% if produto.codigo_sku %}
                                <a href="{% url 'product_update' pk=produto.pk %}" class="btn-link">{{ produto.codigo_sku }}</a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'product_update' pk=produto.pk %}" class="btn-link">{{ produto.maquina_pt }}</a>
                        </td>
                        <td>{{ produto.tipo_pt }}</td>
                        <td>{{ produto.modelo_pt }}</td>
                        <td>
                            <div class="dropleft">
                                <a href="#" class="btn-link" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>

                                <div class="dropdown-menu">
                                    <a href="{% url 'product_update' pk=produto.pk %}" class="dropdown-item">Editar</a>
                                    <a href="#" class="dropdown-item">Detalhes</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Records List End -->
    </div>
</section>
<!-- Main Content End -->
{% endblock %}
