{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}

{% block title %}Dashboard - S.I.E.{% endblock %}
{% block page-title %}Notas{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'nota_list' %}">Notas</a></li>
    <li class="breadcrumb-item active"><span>Cadastro</span></li>
{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script><script>
    $(document).ready(function(){
        $("#add-item").click(function(ev) {
            ev.preventDefault();
            var count = $('#nota').children().length;
            var tmplMarkup = $("#item-nota").html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
            $("div#nota").append(compiledTmpl);

            // update form count
            $('#id_product-TOTAL_FORMS').attr('value', count + 1);

            // update css
            $('.input-group')[count].childNodes[1].className = 'col-lg-8 col-md-12 col-sm-12'
            $('.input-group')[count].childNodes[3].className = 'col-lg-2 col-md-6 col-sm-6'
            $('.input-group')[count].childNodes[5].className = 'col-lg-2 col-md-6 col-sm-6'
        });
    });
</script>
<section class="main--content">
    <div class="panel">
        <div class="records--header">
            <div class="title fa-shopping-bag">
                <h3 class="h3">Cadastrar Nota <a href="{% url 'nota_list' %}" class="btn btn-sm btn-outline-info">Ver tudo</a></h3>
            </div>
        </div>
    </div>

    <div class="panel">
        <!-- Edit Product Start -->
        <div class="records--body">
            <div class="title">
                <h6 class="h6">Detalhes</h6>
            </div>

            <form action="" method="POST">
                {% csrf_token %}
                {{ forms|crispy }}
                {{ formset.management_form|crispy }}

                <legend class="lead">PRODUTOS</legend>

                <div id="nota">
                {% for item_nota_form in formset %}
                    <div id="item-{{ forloop.counter0 }}" class="row form-row spacer">
                        <div class="input-group">
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                {{ item_nota_form.item|as_crispy_field }}
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6">
                                {{ item_nota_form.quantidade|as_crispy_field }}
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6">
                                {{ item_nota_form.valor_usd|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <a class="btn btn-info" id="add-item"><i class="fa fa-plus"></i> Add Item</a>

                        <a href="{% url 'nota_list' %}" class="btn btn-warning pull-right"><i class="fa fa-times"></i> Cancelar</a>
                        <button class="btn btn-rounded btn-success" value="Save"><i class="fa fa-floppy-o"></i> Salvar</button>

                    </div>
                </div>

            </form>

        </div>
    </div>

    <script type="text/html" id="item-nota">
        <div id="item-__prefix__" style="margin-top: 10px" class="row form-row spacer">
            <div class="input-group">
              {{ formset.empty_form|crispy }}
            </div>
        </div>
    </script>

</section>
<!-- Main Content End -->
{% endblock %}