{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard - S.I.E.{% endblock %}
{% block page-title %}Notas{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'nota_list' %}">Notas</a></li>
    <li class="breadcrumb-item active"><span>Cadastro</span></li>
{% endblock %}

{% block content %}
<!-- Main Content Start -->
<section class="main--content">
    <div class="panel">
        <!-- Records Header Start -->
        <div class="records--header">
            <div class="title fa-shopping-bag">
                <h3 class="h3">Notas <a href="{% url 'nota_list' %}" class="btn btn-sm btn-outline-info">Ver tudo</a></h3>
            </div>
        </div>
        <!-- Records Header End -->
    </div>

    <div class="panel">
        <!-- Edit Product Start -->
        <div class="records--body">
            <div class="title">
                <h6 class="h6">Detalhes</h6>
            </div>
            <form action="{% url 'nota_create' %}" method="post">
            {% csrf_token %}

            <!-- Tabs Nav Start -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#tab01" data-toggle="tab" class="nav-link active">Informações</a>
                </li>
                <li class="nav-item">
                    <a href="#tab02" data-toggle="tab" class="nav-link">Itens</a>
                </li>
            </ul>
            <!-- Tabs Nav End -->

            <!-- Tab Content Start -->
            <div class="tab-content">
                <!-- Tab Pane Start -->
                <div class="tab-pane fade show active" id="tab01">
                    <div class="form-group row">
                        <span class="label-text col-md-2 col-form-label">Descrição:</span>

                        <div class="col-md-10">
                            {{ notaform.description }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <span class="label-text col-md-2 col-form-label">Data:</span>

                        <div class="col-md-10">
                            {{ notaform.date }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <span class="label-text col-md-2 col-form-label">Dolar do dia:</span>

                        <div class="col-md-10">
                            {{ notaform.dolar_dia }}
                        </div>
                    </div>
                </div>
                <!-- Tab Pane End -->

                <!-- Tab Pane Start -->
                <div class="tab-pane fade" id="tab02">
                    <!-- Form Group Start -->
                    <div class="row form-row spacer">
                        <div class="input-group">
                            <div class="col-lg-7 col-md-12 col-sm-12">
                                Máquina
                            </div>
                            <div class="col-lg-2 col-md-5 col-sm-5">
                                Quantidade
                            </div>
                            <div class="col-lg-2 col-md-5 col-sm-5">
                                Valor
                            </div>
                            <div class="col-lg-1 col-md-2 col-sm-2">

                            </div>
                        </div>
                    </div>
                    {{ formset.management_form }}
                    {% for form in formset %}
                    <div class="row form-row spacer">
                        <div class="input-group">
                            <div class="col-lg-7 col-md-12 col-sm-12">
                                {{form.item}}
                            </div>
                            <div class="col-lg-2 col-md-5 col-sm-5">
                                {{form.quantidade}}
                            </div>
                            <div class="col-lg-2 col-md-5 col-sm-5">
                                {{form.valor_usd}}
                            </div>
                            <div class="col-lg-1 col-md-2 col-sm-2">
                                <a href="#" class="btn btn-rounded btn-outline-secondary mb-3"><i class="fa fa-plus-circle"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Form Group End -->
                </div>
                <!-- Tab Pane End -->
            </div>
            <!-- Tab Content End -->
            <div class="row mt-3">
                <div class="col-12">
                    <a href="{% url 'nota_list' %}" class="btn btn-rounded btn-danger">Cancelar</a>
                    <input type="submit" value="Adicionar" class="btn btn-rounded btn-success">
                </div>
            </div>
            </form>
        </div>
        <!-- Edit Product End -->
    </div>
</section>
<!-- Main Content End -->
{% endblock %}
